/* line 4, ../_compass/3-generic/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 25, ../_compass/3-generic/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, ../_compass/3-generic/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 43, ../_compass/3-generic/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 50, ../_compass/3-generic/_reset.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 106, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 112.5%;
  line-height: 1.333em;
}

/* line 3, ../_compass/4-base/_typography.scss */
body {
  font-family: "Open Sans", sans-serif;
}

/* line 7, ../_compass/4-base/_typography.scss */
h1, .h1 {
  font-size: 3.157em;
  line-height: 1.26671em;
}

/* line 10, ../_compass/4-base/_typography.scss */
h2, .h2 {
  font-size: 2.369em;
  line-height: 1.12537em;
}

/* line 13, ../_compass/4-base/_typography.scss */
h3, .h3, .fc-toolbar h2 {
  font-size: 1.777em;
  line-height: 1.12521em;
}

/* line 16, ../_compass/4-base/_typography.scss */
h4, .h4 {
  font-size: 1.333em;
  line-height: 1.5em;
}

/* line 19, ../_compass/4-base/_typography.scss */
h5, .h5 {
  font-size: 1em;
  line-height: 1.333em;
}

/* line 22, ../_compass/4-base/_typography.scss */
h6, .h6 {
  font-size: 0.75em;
  line-height: 1.77733em;
}

/* line 26, ../_compass/4-base/_typography.scss */
.heading + p, .heading + ul {
  margin-top: 1.333em;
}

/* line 30, ../_compass/4-base/_typography.scss */
p, ul, ol {
  margin-bottom: 1.333em;
}

/* line 1, ../_compass/5-objects/_grid.scss */
[class^="container"] {
  margin: 0 auto;
  padding: 0 1.333em;
  max-width: 33.325em;
  min-width: 280px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../_compass/5-objects/_grid.scss */
.container--large {
  max-width: 66.63334em;
}

/* line 2, ../_compass/5-objects/_site.scss */
.site__header > div, .site__header .nav, .site__footer > div, .site__footer .nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

/* line 8, ../_compass/5-objects/_site.scss */
.site__header {
  padding-top: 1.333em;
}

/* line 11, ../_compass/5-objects/_site.scss */
.site__hero {
  padding-top: 2.666em;
}

/* line 14, ../_compass/5-objects/_site.scss */
.site__footer {
  padding-top: 2.666em;
}

/* line 1, ../_compass/6-components/_nav.scss */
.nav {
  width: 100%;
}
@media screen and (min-width: 33.325em) {
  /* line 1, ../_compass/6-components/_nav.scss */
  .nav {
    width: auto;
  }
}

/* line 7, ../_compass/6-components/_nav.scss */
[class^="nav__link"] {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.09998em;
  width: 33.33333%;
  padding-bottom: 0.6665em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (min-width: 33.325em) {
  /* line 7, ../_compass/6-components/_nav.scss */
  [class^="nav__link"] {
    width: auto;
    padding-bottom: 1.333em;
    padding-right: 0.99975em;
  }
  /* line 17, ../_compass/6-components/_nav.scss */
  [class^="nav__link"]:last-child {
    padding-right: 0;
  }
}
@media screen and (min-width: 55.52778em) {
  /* line 7, ../_compass/6-components/_nav.scss */
  [class^="nav__link"] {
    padding-right: 1.66625em;
  }
}

/* line 27, ../_compass/6-components/_nav.scss */
.nav__link--active {
  opacity: .5;
}

/* line 4, ../_compass/6-components/_logo.scss */
.logo__link {
  display: inline-block;
  padding: 0 1.333em 0.6665em 0;
}

/* line 8, ../_compass/6-components/_calendar.scss */
.fc {
  direction: ltr;
  text-align: left;
}

/* line 77, ../_compass/6-components/_calendar.scss */
.fc-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  font-size: 1em;
  text-align: center;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
}

/* line 96, ../_compass/6-components/_calendar.scss */
.fc-icon:after {
  position: relative;
  margin: 0 -1em;
  /* ensures character will be centered, regardless of width */
}

/* line 101, ../_compass/6-components/_calendar.scss */
.fc-icon-left-single-arrow:after {
  content: "\02039";
  font-weight: bold;
  font-size: 200%;
  top: -7%;
  left: 3%;
}

/* line 109, ../_compass/6-components/_calendar.scss */
.fc-icon-right-single-arrow:after {
  content: "\0203A";
  font-weight: bold;
  font-size: 200%;
  top: -7%;
  left: -3%;
}

/* line 159, ../_compass/6-components/_calendar.scss */
.fc button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  height: 2.1em;
  padding: 0 .6em;
  font-size: 1em;
  white-space: nowrap;
  cursor: pointer;
}

/* line 199, ../_compass/6-components/_calendar.scss */
.fc button .fc-icon {
  position: relative;
  top: -0.07em;
  vertical-align: middle;
}

/* line 339, ../_compass/6-components/_calendar.scss */
.fc-divider {
  border-style: solid;
  border-width: 1px;
}

/* line 344, ../_compass/6-components/_calendar.scss */
hr.fc-divider {
  height: 0;
  margin: 0;
  padding: 0 0 2px;
  border-width: 1px 0;
}

/* line 352, ../_compass/6-components/_calendar.scss */
.fc-clear {
  clear: both;
}

/* line 356, ../_compass/6-components/_calendar.scss */
.fc-bg,
.fc-bgevent-skeleton,
.fc-highlight-skeleton,
.fc-helper-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* line 368, ../_compass/6-components/_calendar.scss */
.fc-bg {
  bottom: 0;
}

/* line 373, ../_compass/6-components/_calendar.scss */
.fc-bg table {
  height: 100%;
}

/* line 382, ../_compass/6-components/_calendar.scss */
.fc table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
}

/* line 390, ../_compass/6-components/_calendar.scss */
.fc th {
  text-align: center;
}

/* line 394, ../_compass/6-components/_calendar.scss */
.fc th,
.fc td {
  border-style: solid;
  border-width: 1px;
  padding: 0;
  vertical-align: top;
}

/* line 402, ../_compass/6-components/_calendar.scss */
.fc td.fc-today {
  border-style: double;
}

/* line 411, ../_compass/6-components/_calendar.scss */
.fc .fc-row {
  border-style: solid;
  border-width: 0;
}

/* line 418, ../_compass/6-components/_calendar.scss */
.fc-row table {
  border-left: 0 hidden transparent;
  border-right: 0 hidden transparent;
  border-bottom: 0 hidden transparent;
}

/* line 428, ../_compass/6-components/_calendar.scss */
.fc-row:first-child table {
  border-top: 0 hidden transparent;
}

/* line 437, ../_compass/6-components/_calendar.scss */
.fc-row {
  position: relative;
}

/* line 441, ../_compass/6-components/_calendar.scss */
.fc-row .fc-bg {
  z-index: 1;
}

/* line 447, ../_compass/6-components/_calendar.scss */
.fc-row .fc-bgevent-skeleton,
.fc-row .fc-highlight-skeleton {
  bottom: 0;
}

/* line 453, ../_compass/6-components/_calendar.scss */
.fc-row .fc-bgevent-skeleton table,
.fc-row .fc-highlight-skeleton table {
  height: 100%;
}

/* line 459, ../_compass/6-components/_calendar.scss */
.fc-row .fc-highlight-skeleton td,
.fc-row .fc-bgevent-skeleton td {
  border-color: transparent;
}

/* line 464, ../_compass/6-components/_calendar.scss */
.fc-row .fc-bgevent-skeleton {
  z-index: 2;
}

/* line 469, ../_compass/6-components/_calendar.scss */
.fc-row .fc-highlight-skeleton {
  z-index: 3;
}

/* line 478, ../_compass/6-components/_calendar.scss */
.fc-row .fc-content-skeleton {
  position: relative;
  z-index: 4;
  padding-bottom: 2px;
}

/* line 485, ../_compass/6-components/_calendar.scss */
.fc-row .fc-helper-skeleton {
  z-index: 5;
}

/* line 489, ../_compass/6-components/_calendar.scss */
.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
  background: none;
  border-color: transparent;
  border-bottom: 0;
}

/* line 500, ../_compass/6-components/_calendar.scss */
.fc-row .fc-content-skeleton tbody td,
.fc-row .fc-helper-skeleton tbody td {
  border-top: 0;
}

/* line 511, ../_compass/6-components/_calendar.scss */
.fc-scroller {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 517, ../_compass/6-components/_calendar.scss */
.fc-scroller > * {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* line 705, ../_compass/6-components/_calendar.scss */
.fc-toolbar {
  text-align: center;
  margin-bottom: 1em;
}

/* line 710, ../_compass/6-components/_calendar.scss */
.fc-toolbar .fc-left {
  float: left;
}

/* line 714, ../_compass/6-components/_calendar.scss */
.fc-toolbar .fc-right {
  float: right;
}

/* line 718, ../_compass/6-components/_calendar.scss */
.fc-toolbar .fc-center {
  display: inline-block;
}

/* line 723, ../_compass/6-components/_calendar.scss */
.fc .fc-toolbar > * > * {
  float: left;
  margin-left: .75em;
}

/* line 730, ../_compass/6-components/_calendar.scss */
.fc .fc-toolbar > * > :first-child {
  margin-left: 0;
}

/* line 737, ../_compass/6-components/_calendar.scss */
.fc-toolbar h2 {
  margin: 0;
}

/* line 743, ../_compass/6-components/_calendar.scss */
.fc-toolbar button {
  position: relative;
}

/* line 747, ../_compass/6-components/_calendar.scss */
.fc-toolbar .fc-state-hover,
.fc-toolbar .ui-state-hover {
  z-index: 2;
}

/* line 752, ../_compass/6-components/_calendar.scss */
.fc-toolbar .fc-state-down {
  z-index: 3;
}

/* line 756, ../_compass/6-components/_calendar.scss */
.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active {
  z-index: 4;
}

/* line 761, ../_compass/6-components/_calendar.scss */
.fc-toolbar button:focus {
  z-index: 5;
}

/* line 771, ../_compass/6-components/_calendar.scss */
.fc-view-container *,
.fc-view-container *:before,
.fc-view-container *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 779, ../_compass/6-components/_calendar.scss */
.fc-view,
.fc-view > table {
  position: relative;
  z-index: 1;
}

/* line 839, ../_compass/6-components/_calendar.scss */
.fc-ltr .fc-basic-view .fc-day-number {
  text-align: right;
}

/* line 847, ../_compass/6-components/_calendar.scss */
.fc-day-number.fc-other-month {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

/* line 859, ../_compass/6-components/_calendar.scss */
.fc-agenda-view .fc-day-grid {
  position: relative;
  z-index: 2;
}

/* line 865, ../_compass/6-components/_calendar.scss */
.fc-agenda-view .fc-day-grid .fc-row {
  min-height: 3em;
}

/* line 870, ../_compass/6-components/_calendar.scss */
.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
  padding-top: 1px;
  padding-bottom: 1em;
}
