<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ "/css/screen.css" | prepend: site.baseurl }}">
    <script src="{{ "/js/calendar.js" | prepend: site.baseurl }}"></script>
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
    <!--[if lt IE 10]>
    <div class="container">
	<p>Dear user,<br>For the best viewing experience please upgrade your browser. Thank you.</p>
	</div>
	<![endif]-->
</head>