<!DOCTYPE html>
<html>
{% if page.script %}
    {% include head--calendar.html %}
{% else %}
    {% include head.html %}
{% endif %}
<body class="{{ page.class }}">

<header class="site__header">
	<div class="container--large">
		{% include header.html %}
	</div>
</header>

<main class="site__hero">
    {% if page.container %}
    <div class="{{ page.container }}">
        {{ content }}
    </div>
    {% else %}
	<div class="container">
		{{ content }}
	</div>
    {% endif %}
</main>

<footer class="site__footer">
	<div class="container--large">
		{% include footer.html %}
	</div>
</footer>

</body>

</html>